* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.custom-navbar {
  background: linear-gradient(to bottom, #ffffff, #ffffff);
}

.hover-effect:hover {
  transform: scale(1.1); 
}

.check {
  margin-top: 14vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media only screen and (min-width: 320px) and (max-width:920px) {
  .check {
    margin-top: 15vh;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-content: center;
  }
}